@import "tailwindcss";

@font-face {
  font-family:'auralyess-font';
  src: url('/fonts/auralyess-font/AuralyessFreeTrial-RpMrE.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'vergilia-font';
  src: url('/fonts/vergilia-font/Vergilia-mL6aa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'beking-font';
  src: url('/fonts/beking-font/BekingBold-1Gqdg.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'giamlass-font (1)';
  src: url('/fonts/giamlass-font (1)/GiamlassRegular-8OAwn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'plastic-font';
  src: url('/fonts/plastic-font/PlasticLight-Mg5v.ttf') format('truetype');
}
@font-face {
  font-family: 'giamlass-font';
  src: url('/fonts/giamlass-font/GiamlassRegular-8OAwn.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'library-3-am-font';
  src: url('/fonts/library-3-am-font/Library3amsoft-6zgq.otf') format('truetype');
}
.giamlass-font {
  font-family: 'giamlass-font', sans-serif;
  font-weight: normal;
  font-style: normal;
}
.beking-font {
  font-family: 'beking-font', sans-serif;
  font-weight: bold;
  font-style: normal;
}
.library-3-am-font {
  font-family: 'library-3-am-font', sans-serif;
  font-weight: normal;
  font-style: normal;
}
.dincy-blur-font {
  font-family: 'dincy-blur-font', sans-serif;
}

.plastic-font {
  font-family: 'plastic-font', sans-serif;
}
.Vergilia-font {
  font-family: 'vergilia-font', sans-serif;
}
.auralyess-font {
  font-family: 'auralyess-font', sans-serif;
}

.heading-font {
  font-family: 'heading-font', sans-serif;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

  .hero{
    width: 60%;
    height: auto;
    margin: 0 auto;
    display: block;

  }
  body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}